.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #40128b;
    padding: 0 0.6rem 0.6rem 0.6rem;
    border-radius: 5px;
}

.title {
    height: 2rem;
    width: 15rem;
    font-size: x-large;
   
}

h4 {
    margin-top: .8rem;
}

.post {
    height: 10rem;
    width: 18rem;
}